.item{
    border-radius: var(--radius);
    padding: 1rem 2rem;
    background: var(--clr-white);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 3rem;
    align-items: center;

    span {
      width: 3rem;
      height: 3rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
    }

    

    h3 {
      margin-bottom: 0;
      letter-spacing: 0;
    }

    p {
      margin-bottom: 0;
      text-transform: capitalize;
    }


  
}